h1 {
    color: rgba(0, 255, 255, 0.753); /* Color del texto */
    background-color: rgb(15, 124, 212) (0, 255, 255, 0.829) (0, 0, 255, 0.5); /* Fondo del elemento */
    font-size: 18px; /* Tamaño de fuente */
    font-family: Arial, sans-serif; /* Tipo de letra */
    text-align: center; /* Alineación del texto */
    }

h2 {
    color: rgb(0, 0, 0); /* Color del texto */
    background-color: rgb(89, 166, 230) (0, 255, 255, 0.829) (0, 0, 255, 0.5); /* Fondo del elemento */
    font-size: 18px; /* Tamaño de fuente */
    font-family: Arial, sans-serif; /* Tipo de letra */
    text-align: center; /* Alineación del texto */
    }

input {
    color: rgb(128, 128, 128);
    font-size: 18px; /* Tamaño de fuente */
    font-family: Arial, sans-serif; /* Tipo de letra */
    text-align: left; /* Alineación del texto */
    }

.contenedor{
    display: flex;
    }

